body {
	background-image: url(../Imagenes/tabernafuera.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
table {
	margin-right: auto;
	margin-left: auto;
	width: 50%;
}
td::first-letter {
	font-family: "Ink Free";
	font-weight: bold;
	font-size: 40px;
}
.flechita {
	margin-left: 95%;
}
.tfoto {
	font-family: "Segoe Print";
	font-size: 40px;
	text-align: center;
	height: 800px;
}
.ttexto {
	border-style: solid;
	border-width: 1px;
	font-family: "Caladea";
	font-size: 20px;
	height: 100px;
	background-color: green;
	padding: 0 10px 0 10px;
}